version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres_gestao_financeira
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: gestao_financeira
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
